{% extends 'home.html' %}

{% block title %}
    <title>About Page</title>
{% endblock %}

{% block content %}
    <section
     <section class="mh-about" id="mh-about", style="background-color: #000a1e">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-about-img shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                            <img src="../static/assets/images/codin.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-about-inner">
                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s" style="color: white">About Me</h2>
                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s" style="color: white">Hello, I’m a Charles, a CPE Student at Holy Angel University.
                            I have rich experience in web site design & building
                            and customization. Also I am good at</p>
                            <div class="mh-about-tag wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <ul>
                                    <li style="color: white"><span>HTML</span></li>
                                    <li style="color: white"><span>CSS</span></li>
                                    <li style="color: white"><span>Python</span></li>
                                    <li style="color: white"><span>Lua</span></li>
                                    <li style="color: white"><span>React</span></li>
                                    <li style="color: white"><span>Javascript</span></li>
                                </ul>
                            </div
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}